@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i&display=swap');

.title {
  text-align: center;
  font-family: 'Open Sans';
  color: white;
}

.agricultureLine {
  fill: none;
  stroke: #ed980f;
  stroke-width: 3;
}

.agricultureArea {
  fill: #edab42;
  opacity: 0.5;
}

.financeArea {
  fill: #459ed8;
  opacity: 0.5;
}

.financeLine {
  fill: none;
  stroke: #139ff9;
  stroke-width: 3;
}

.xAxis {
  /* color of the line */
  color: white;
  /* color of the number */
  stroke: white;
  font-family: 'Open Sans';
  font-weight: 100;
}

.yAxis {
  color: white;
  stroke: white;
}

.centerElem {
  display: inline-block;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.surroundingCountriesImg {
  margin-left: 30px;
  margin-right: 30px;
}

.centerParent {
  text-align: center;
}

.textElem {
  width: 500px;
  text-align: left;
  color: white;
  font-family: 'Open Sans';
  padding-left: 10px;
  padding-right: 10px;
}

#agriculturalLand {
  font-family: 'Open Sans';
  font-size: 3em;
  color: white;
  margin-bottom: 0px;
  margin-top: 100px;
}

#totalLandArea {
  font-family: 'Open Sans';
  font-size: 1.5em;
  color: white;
  margin-top: 0px;
  margin-bottom: 80px;
}

#singaporeHeaderImgParent {
  width: 80%;
  text-align: center;
  height: 700px;
}

#singaporeHeaderImg {
  background-image: url('singapore.svg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.treemapText {
  color: white;
  font-family: 'Open Sans';
  font-size: 10pt;
}


rect {
  fill: steelblue;
  opacity: 0.5;
  stroke: white;
}

body {
  background-color: #112437;
  margin: 0px;
  padding: 0px;
}

label {
  color: white;
}