@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i&display=swap');

.title {
  text-align: center;
  font-family: 'Open Sans';
  color: white;
}

.agricultureLine {
  fill: none;
  stroke: #ed980f;
  stroke-width: 3;
}

.agricultureArea {
  fill: #edab42;
  opacity: 0.5;
}

.financeArea {
  fill: #459ed8;
  opacity: 0.5;
}

.graphDescriptionText {
  height: 200px;
}

.agricultureGraphHeader {
  font-family: 'Open Sans';
  fill: #ed980f;
  font-size: 28pt;
}

.agricultureGraphSubtext {
  font-family: 'Open Sans';
  fill: white;
  font-size: 12pt;
}

.financeGraphHeader {
  font-family: 'Open Sans';
  fill: #139ff9;
  font-size: 28pt;
}

.financeGraphSubtext {
  font-family: 'Open Sans';
  fill: white;
  font-size: 12pt;
}

.hoverAreaRect {
  fill: white;
  opacity: 0.25;
}

.hidden {
  display: none;
}

.financeLine {
  fill: none;
  stroke: #139ff9;
  stroke-width: 3;
}

.xAxis {
  color: white;
  stroke: white;
  font-family: 'Open Sans';
  font-size: 9pt;
}

.yAxis {
  color: white;
  stroke: white;
  font-family: 'Open Sans';
  font-size: 6pt;
}

.centerElem {
  display: inline-block;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.surroundingCountriesImg {
  margin-left: 30px;
  margin-right: 30px;
}

.centerParent {
  text-align: center;
}

.flexBox-Centered {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.textElem {
  width: 500px;
  text-align: left;
  color: white;
  font-family: 'Open Sans';
  padding-left: 10px;
  padding-right: 10px;
}

.footerTextTitle {
  color: white;
  font-family: 'Open Sans';
  font-size: 18pt;
}

.graph {
  display: inline-block;
  width: 100%;
}

.graph-Container {
  text-align: center;
}

.footerTextData {
  color: white;
  font-family: 'Open Sans';
  font-size: 12pt;
}

.footer-Container {
  width: 100%;
  background-color: black;
  padding: 30px 0px 20px 0px;
  margin-top: 100px;
  text-align: center;
}

/* .footer-Data-Container {
  max-width: 60%;
}   */

.yAxisLabel {
  fill: white;
  font-family: 'Open Sans';
  font-size: 8pt;
}

.yearSelectElem {
  display: flex;
  background-color: #2F4050;
  height: 60px;
  width: 400px;
  border-radius: 5px;
}

.graphStatsBox {
  display:flex;
  flex-wrap: nowrap;
  background-color:#2F4050; 
  border-radius: 7px;
}

/* ============================================= */

#agriculturalLand {
  font-family: 'Open Sans';
  font-size: 3em;
  color: white;
  margin-bottom: 0px;
  margin-top: 100px;
}

#totalLandArea {
  font-family: 'Open Sans';
  font-size: 1.5em;
  color: white;
  margin-top: 0px;
  margin-bottom: 80px;
}

#singaporeHeaderImgParent {
  width: 100%;
  text-align: center;
  height: 800px;
}

#singaporeHeaderImg {
  background-image: url('images/singaporeHeader.png');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -110px;
}

.treemapText {
  color: white;
  font-family: 'Open Sans';
  font-size: 10pt;
}

#treemapTitle {
  text-align: center;
  color: white;
  font-family: 'Open Sans';
  font-size: 14pt;
}

#totalGDPStat {
  font-size: 16pt;
  margin-bottom: 0px;
  text-align: left;
}

#totalGDPAmt {
  text-align: left;
  font-size: 26pt;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ed980f;
}

#agricultureStat {
  margin-bottom: 2px;
}

#agriculturePercentage {
  margin-top: 0px;
  font-size: 24pt;
  color: #ed980f;
}

#topExportStat {
  font-size: 16pt;
  margin-bottom: 0px;
  text-align: left;
}

#topExportVal {
  text-align: left;
  font-size: 26pt;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ed980f;
}

#financeStat {
  margin-bottom: 2px;
}

#financePercentage {
  margin-top: 0px;
  font-size: 24pt;
  color: #ed980f;
}

body {
   background-image: linear-gradient(rgba(15,24,41,1), rgba(20,59, 82,1));
   margin: 0px;
   padding: 0px;
}

label {
  color: white;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 12pt;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 10px 20px;
  text-align: center;
}

input {
  opacity: 0;
  margin: 0px;
  padding: 0px;
}

input[type="radio"]:checked + label {
  background-color: #ed980f;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}
